html {
  scroll-behavior: smooth;
}

body {
  background: #001c30;
  color: #dafffb;
}

.navbar {
  background-color: #001c30 !important;
}

.navbar-toggler {
  background-color: orangered !important;
  border-radius: 50px;
}

.nav-link {
  color: #dafffb;
}

.nav-link.active {
  color: orangered !important;
}

.nav-link:hover {
  color: orangered;
}

.icon a {
  text-decoration: none;
  color: orangered;
  font-size: 30px;
}

.project,
img {
  height: 200px;
  object-fit: cover;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.progress-bar {
  background-color: orangered !important;
}

.progress {
  border-radius: 10px;
  box-shadow: 0 3px 8px blue;
}

.btn {
  background-color: blue;
  color: white;
}

.no-image {
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  font-size: 18px;
}

.lang {
  color: #dafffb;
  text-decoration: none;
  font-weight: bold;
  margin-left: 50px;
}

.tech {
  font-weight: 500;
  font-style: italic;
}
