html {
  scroll-behavior: smooth;
}

body {
  background: #001c30;
  color: #dafffb;
}

.navbar {
  background-color: #001c30 !important;
}

.navbar-toggler {
  background-color: orangered !important;
  border-radius: 50px;
}

.nav-link {
  color: #dafffb;
}

.nav-link.active {
  color: orangered !important;
}

.nav-link:hover {
  color: orangered;
}

.icon a {
  text-decoration: none;
  color: orangered;
  font-size: 30px;
}

.project,
img {
  height: 200px;
  object-fit: cover;
}

section {
  margin-top: 50px;
  margin-bottom: 100px;
}

.progress-bar {
  background-color: orangered !important;
}

.progress {
  border-radius: 10px;
  box-shadow: 0 3px 8px blue;
}

.btn {
  background-color: blue;
  color: white;
}

.no-image {
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  font-size: 18px;
}

.lang {
  color: #dafffb;
  text-decoration: none;
  font-weight: bold;
  margin-left: 50px;
}

.tech {
  font-weight: 500;
  font-style: italic;
}

.about-me {
  font-style: italic;
  color: white;
}

.img-wrapper {
  position: relative;
  display: inline-block;
}

/* IMAGE WRAPPER */
.img-wrapper {
  position: relative;
  display: inline-block;
}

/* CIRCLE */
.abstract-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  background: orangered;
  border-radius: 50%;

  z-index: -1;
}

/* --- TEXT --- */
.hero-title {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.about-me {
  font-size: 1.1rem;
  max-width: 450px;
  margin: auto;
}

/* --- RESPONSIVE — TABLET --- */
@media (max-width: 992px) {
  .abstract-circle {
    width: 260px;
    height: 260px;
  }

  .hero-title {
    font-size: 2.3rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .about-me {
    font-size: 1rem;
  }
}

/* --- RESPONSIVE — MOBILE --- */
@media (max-width: 576px) {
  .abstract-circle {
    width: 180px;
    height: 180px;
  }

  .profile-img {
    width: 180px;
  }

  .hero-title {
    font-size: 1.8rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .about-me {
    font-size: 0.9rem;
    padding: 0 15px;
  }

  .text-section {
    margin-top: 20px; /* add spacing on mobile */
  }
}
