body {
  background: #001c30;
  color: #64ccc5;
}

.nav-link {
  color: #64ccc5;
}

.nav-link.active {
  color: orangered !important;
}

.nav-link:hover {
  color: orangered;
}

.contact,
a {
  text-decoration: none;
  color: #64ccc5;
}

.project,
img {
  height: 200px;
  object-fit: cover;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

#more-text {
  display: none;
}

.progress-bar {
  background-color: orangered !important;
}
